.input-container {
  position: relative;
  width: 100%;
  max-width: 850px;
}

.input {
  width: 100%;
  height: 60px;
  padding: 12px;
  font-size: 18px;
  font-family: "Courier New", monospace;
  color: #333; /* Dark gray text */
  background-color: #f0f8ff; /* Light pastel blue background */
  border: 2px solid #8a2be2; /* Soft purple border */
  border-radius: 8px; /* Rounded corners */
  outline: none;
  transition: all 0.3s ease;
  box-shadow: 4px 4px 0 #8a2be2; /* Soft purple shadow */
}

.input::placeholder {
  color: #666; /* Medium gray color for placeholder text */
  font-size: 16px;
}

.input:hover {
  transform: translate(-2px, -2px);
  box-shadow: 6px 6px 0 #8a2be2; /* Soft purple shadow on hover */
}

.input:focus {
  background-color: #d8bfd8; /* Light pastel purple background on focus */
  color: #333; /* Dark gray text on focus */
  border-color: #dda0dd; /* Light purple border on focus */
}

.input:focus::placeholder {
  color: #333; /* Dark gray placeholder text on focus */
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.input:focus + .input-container::after {
  color: #dda0dd; /* Light purple color for blinking cursor on focus */
}

.input:not(:placeholder-shown) {
  font-weight: bold;
  letter-spacing: 1px;
  text-shadow: 0px 0px 0 #000;
}
